# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

src-tauri/bin/node-*
automation-engine/local-browsers/

# Ignore the sidecar binaries
tauri-app/src-tauri/bin/*
!tauri-app/src-tauri/bin/.gitkeep

# Ignore downloaded browsers
automation-engine/local-browsers/*
!automation-engine/local-browsers/.gitkeep